# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=postgresql://postgres.ctqmnraakguprxobkfsw:knmA2PpY55bPQrjn@aws-1-eu-west-1.pooler.supabase.com:5432/postgres

# Direct connection to the database. Used for migrations.
DIRECT_URL=postgresql://postgres:knmA2PpY55bPQrjn@db.ctqmnraakguprxobkfsw.supabase.co:5432/postgres
# Better Auth
#
BETTER_AUTH_SECRET=82J3jJEN12yE9peQXSOkS1AAWym1X56G
NEXT_PUBLIC_BASE_URL=http://localhost:3000
